@CHARSET "UTF-8";
.bodytitle{
	font-size: 15px;
	font-family: "黑体";
	line-height: 60px;
}
.textarea{
	width: 88%;
	margin: auto;
	height: 400px;
	text-align:center;
}
.release_emp_button{
	 line-height: 30px;
}
#textarea_{
	width: 88%;
	height: 100%;
}